


<div class="contain">
  <%= image_tag 'logo.svg', class: 'logo small' %>
  
<%- if @session.errors.added?(:email, :locked) %>
	<h1 class="error">Your account is locked for the next few minutes after too many attempts to sign in.</h1>
<%- elsif @session.errors.added?(:email, :too_many) %>
	<h1 class="error">Too many failed attempts, we will lock your account for a few minutes as a precaution.</h1>
<%- elsif @session.errors.any? %>
	<h1 class="error">Looks like that wasn&apos;t right.<br/>Try signing in again.</h1>
<% else %>
	<h1>Welcome back!<br/>Let&apos;s sign in</h1>
<% end %>

<%= form_for(@session, url: sign_in_path) do |f| %>
	<div class="input block">
    <%= f.label :email, 'Enter your email address' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
	</div>

	<div class="input block">
    <%= f.label :password, 'And your password' %>
    <%= f.password_field :password, autofocus: true, autocomplete: "current-password" %>
	</div>

	<%= f.submit 'Sign In', class: 'cta' %>
  <br />
  <%= link_to "Forgot your password?", new_identities_password_reset_path %>
	<p class="supporting">
		We&apos;ll help you get it reset so you can get back in.
	</p>
<% end %>
</div>