<% content_for :title, 'New Cycle' %>
  
<h1>New Cycle</h1>
<section class="narrow-contents narrow-form">
  <%= form_for @cycle, url: basecamp_cycles_path do |f| %>
    <%= render "shared/form_errors", object: f.object %>
    <div class="field">
      <%= f.label :number %>
      <%= f.text_field :number %>
    </div>
    <div class="field">
      <%= f.label :date, 'Pitch Meeting Date' %>
      <%= f.text_field :date %>
    </div>
    
    <div class="actions">
      <%= f.submit 'Save', class: 'primary' %>
    </div>
    
  <% end %>
</section>