<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Breadboarding' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="theme-color" content="#FFFFFF">
    <meta name="application-name" content="Breadboarding">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon-196x196.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    
  </head>

  <body class="<%= current_user.theme %>-theme">
    <header>
      <div class="back-container">
        <%= yield :back %>
      </div>
      
      
      <details class="popup profile" data-controller="popup" data-action="click@window->popup#closeOnClickOutside">
        <summary>
          <div>
            <h4><%= current_user.name %></h4>
            <h5><%= current_user.domain.name %></h5>
          </div>
        </summary>
        <div class="left up">
          <h4>Signed in as <%= current_user.email %></h4>
          <br />
          <%= render 'themes/theme_controller' %>
          
          <%= form_for current_user, url: sign_out_path, method: :delete do |f| %>
            <%= f.submit 'Sign out?', class: 'primary' %>
          <% end %>
        </div>
      </details>
      
    </header>
    <%= yield %>
  </body>
</html>
